<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <div class="header-menu">
          <a href="/" class="header-navlink">Home</a>
          <a href="/profile.html" class="header-navlink1">About Me</a>
          <a href="/research.html" class="header-navlink2">Research</a>
        </div>
        <div class="header-container1">
          <div class="header-container2"></div>
          <svg viewBox="0 0 1024 1024" class="header-icon">
            <path
              d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
            ></path>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</div>
